body {
    background-color: #F2C4D0;
    padding: 5px;
    border: dashed .2em #FFFFFF; 
}
header {
   background-color: #F2C4E3;    
   border: dotted .3em #EA9FD1;
   text-align: center;     
}
header h1 {
    font-weight: bold;
    color: #82AFFF; 
}
nav li { 
    margin-left: 20px;
    list-style: none;
    display:inline;    
}
a {
    color: #A898E3;
}
a:visited {
    color: #587548;
}
a:hover {
    color: #6B4CD4; 
}
main h2 {
    color: #82AFFF;
    font-weight: bold; 
    font-size: 3em;
}
main p {
    color: #9FBF8F;   
}
main img {
    height: 100px;
    width: 200px;  
}
.rhiannon {
    color: #D2A2F2; 
    text-decoration: wavy underline;
}
.hi {
    border: solid 0.1em #FFFFFF; 
}
.cascadiacollege {
    color: #4169E1;
    font-weight: bold;

}   
.basicsofwebauthoring {
    font-style: italic; 
}
.website {
    text-decoration: solid underline;
}
.secondyear {
    font-weight: bold;  
    text-decoration: dashed underline; 
}
footer {
    background-color: #C7DBBD;
    padding: 15px;  
}
footer li {
    margin-left:20px;
    list-style: none; 
    display: inline; 
}
footer p {
    font-size: 1em; 
    color: #82AFFF;
    text-align: center; 
}