body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #446600;
    color: #DDDDDD;
}
header {
    background-color: #887755;
    text-align: center;
    border: 1px solid transparent;
}
nav, .recipe-form button {
    background-color: #8B4669;
    border: 1px solid transparent;
}
nav ul{
    list-style-type: none;
}
nav a {
    text-decoration: none;
    color: #DDDDDD;
}
.active {
    background-color: #AA5580;
    border: 2px dotted #DDDDDD;
    border-radius: 100px;
}
.main, .flower-pages, .recipe-pages, .recipe-pages-yarrow, .tips, .success {
    background-color: #669900;
    border-radius: 0.5rem;
    line-height: 1.5;
}
.main h2, .edible-flowers, .recipes, .flower-pages h2, .recipe-pages h2, .recipe-pages-yarrow h2, .tips h2, .additional-resources h2, .recipe-form h2, .success h2 {
    text-align: center;
}
.wildflower-meadow {
    width: 400px;
    height: 300px;
    line-height: 0;
}
.flower-pages li, .tips li {
    list-style-type: none;
}
.tips li {
    line-height: 2;
}
.recipe-pages h3, .recipe-pages-yarrow h3 {
    font-weight: normal;
    text-decoration: underline;
}
.yarrow, .hawthorn, .violet, .rose, .salal, .fireweed, .yarrow-recipes, .hawthorn-recipes, .violet-recipes, .rose-recipes, .salal-recipes, .fireweed-recipes {
    background-color: #669900;
    text-align: center;
    border-radius: 0.5rem;
    width: 300px; 
    height: 350px;
}
.yarrow, .hawthorn, .violet, .rose, .salal, .fireweed, .yarrow-recipes, .hawthorn-recipes, .violet-recipes, .rose-recipes, .salal-recipes, .fireweed-recipes{
    color:#DDDDDD;
    text-decoration: none;
}
.yarrow img, .yarrow-recipes img, .hawthorn img, .hawthorn-recipes img, .violet img, .violet-recipes img, .rose img, .salal img, .fireweed img, .fireweed-recipes img,.hawthorn-recipes img, .rose-recipes img, .salal-recipes img {
    width: 300px;  
    height: 225px;
}
.yarrow-info {
    width: 450px;
    height: 253px;
    line-height: 0;
}
.hawthorn-info {
    width: 500px;
    height: 375px;
    line-height: 0;
}
.rose-info {
    width: 450px;
    height: 338px;
    line-height: 0;
}
.violet-info, .violet-recipe-info {
    width: 470px;
    height: 313px;
    line-height: 0;
}
.salal-info {
    width: 300px;
    height: 200px;
    line-height: 0;
}
.fireweed-info, .fireweed-recipe-info {
    width: 200px;
    height: 267px;
    line-height: 0;
}
.yarrow-recipe-info {
    width: 300px;
    height: 169px;
    line-height: 0;
}
.hawthorn-recipe-info {
    width: 400px;
    height: 366px;
    line-height: 0;
}
.rose-recipe-info {
    width: 450px;
    height: 509px;
    line-height: 0;
}
.salal-recipe-info {
    width: 450px;
    height: 450px;
    line-height: 0;
}
.form {
    background-color: #669900;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    line-height: 1.5;
    width: 800px;
    height: auto; 
}
.recipe-form input,textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.recipe-form input {
    width: 770px;
    height: 20px;
}
.recipe-form textarea {
    width: 770px;
    max-width: 100%;
    height: 100px; 
}
.recipe-form button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: #DDDDDD; 
    border-radius: 100px;
}
.success {
    width: 600px;
    height: 200px;
}
.success p {
    text-align: center;
    font-size: 1.2rem;
}
.wild-food, .wild-edible, .northern-bushcraft, .wnps, .king-county, .burke-museum {
    background-color: #669900;
    font-size: 1.2rem;
    text-align: center; 
    border-radius: 0.5rem;
    width: 250px;  
    height: 50px;
}
.additional-resources a{
    color:#DDDDDD;
    text-decoration: none;
}
.additional-resources li{
    list-style-position: outside;
}
.additional-resources li::marker {
    content: "\01F338";
}
footer {
    background-color: #887755;
    text-align: center;
}
footer a {
    color: #DDDDDD;
}